/* body {
    background-color: white;
}
*/
nav {
  color: #263238;
  text-align: left;
  font-family: work sans;
  font-size: 18px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right:30px;
  padding-bottom: 10px;
  background-color: none;
  box-shadow: 2px 2px 2px #ECEFF1;
     -moz-box-shadow: 2px 2px 2px #ECEFF1;
     -webkit-box-shadow: 2px 2px 2px #ECEFF1;

}

.intro {
    color: #263238;
    text-align: left;
    font-family: 'IBM Plex Mono', monospace;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    /* background-color: #eeeeee; */
}

.title {
    color: #263238;
    text-align: left;
    font-family: 'IBM Plex Mono', monospace;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 30px;
    /* background-color: #eeeeee; */
}

h2 {
    color: #263238;
    text-align: left;
    font-family: 'IBM Plex Mono', monospace;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
}

h4 {
  color: #263238;
  font-family: work sans;
  font-weight: normal;
  font-size: 16px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  line-height: 2;
}

p {
    color: #263238;
    font-family: work sans;
    font-weight: normal;
    font-size: 14px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
}

a:link {
    color: #263238;
    background-color: transparent;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;

}

a:visited {
    color: #37474F;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #1aa278;
    background-color: transparent;
    text-decoration: underline;
    font-weight: bold;
}

a:active {
    color: #F44336;
    background-color: transparent;
    text-decoration: underline;
    font-weight: bold;
}

body {
  background: white;
	background-size: 400% 400%;
}

.casestudy {
    color: #263238;
    text-align: left;
    font-size: 24px;
    font-family: 'IBM Plex Mono', monospace;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    line-height: 2;
  }
